@import "~@angular/material/theming";
@include mat-core();

$angular-material-v1-accent: mat-palette($mat-teal, 800, 900, 500);
$angular-material-v1-warn: mat-palette($mat-red, 900, 500, A700);
$angular-material-v1-primary: mat-palette($mat-blue, 600, 400, 800);

$angular-material-v1-theme: mat-light-theme(
  $angular-material-v1-primary,
  $angular-material-v1-accent,
  $angular-material-v1-warn
);

@include angular-material-theme($angular-material-v1-theme);

$custom-typography: mat-typography-config(
  $font-family: "Roboto Mono"
);

@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

html, body {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-space-between {
  justify-content: space-between !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.p-0 {
  padding: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}